.schooltitle{
    display: flex;
    height: 15vh;
    width: 100%;
    background-color: #C5B358;
}

.techlogo{
    height: 6rem;
    margin: 1rem;
}

.title1{
    margin-left: 1rem;
    margin-top: 2rem;
}

.title2{
    font-size: 1.5rem;
    margin-top: -1rem;
}