.schooltitle{
    display: flex;
    height: 15vh;
    width: 100%;
    background-color: #C5B358;
    margin-bottom: 1rem;
}

.parentsandstaff{
    height: 38vh;
    width: 100%;
}

.techlogo{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    height: 13vh;
}

.title1{
    font-size: 2.25rem;
    margin-left: 1.75rem;
    margin-top: 1.5rem;
}

.title2{
    font-size: 1.6rem;
    margin-left: 0.45rem;
    margin-top: -1.25rem;
}

.mySlides{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    height: 13rem;
    width: 90%;
    border: 5px solid black;
}

.Quick_Links{
    display: flex;
    margin-top: 0.5rem;
    margin-left: 1rem;
    flex-direction: row;
    align-items: center;
}

.quicklinks{
    height: 2.5rem;
    width: 10rem;
    background-color: #fcbf1e;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}
