.schoolrankings{
    height: 96vh;
    width: 100%;
    background-color: #C5B358;
    display: flex;
    flex-direction: column;
}

.studentpopulation{
    position: absolute;
    color: white;
    top: 89.5rem;
    left: 2rem;
    z-index: 2;
    font-size: 3rem;
    font-family: 'Karma', serif;
}

.students{
    position: relative;
    z-index: 1;
    height: 15rem;
    margin: 1rem 0.2rem;
    border: 3px solid white;
}

.facultynumber{
    position: absolute;
    color: white;
    top: 105rem;
    z-index: 4;
    font-size: 3rem;
    margin-left: 2.75rem;
    font-family: 'Karma', serif;
}

.teachers{
    position: relative;
    z-index: 3;
    height: 15rem;
    width: 96.5%;
    border: 3px solid white;
    margin-left: 0.2rem;
    margin-top: -0.75rem;
}

.nationalranking{
    position: absolute;
    z-index: 6;
    top: 123rem;
    font-size: 1.9rem;
    color: white;
    margin-left: 1rem;
    font-family: 'Karma', serif;
}

.awards{
    position: relative;
    height: 15rem;
    width: 96.5%;
    z-index: 5;
    border: 3px solid white;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
}

