@import"_variables.scss";
@import"_cb1.scss";
@import"_cb2.scss";
// @import"_end.scss"; I feel cheated of my work time
@import"_cb3.scss";
@import"_cb4.scss";

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

