.schooltitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15vh;
  width: 100%;
  background-color: #C5B358;
  margin-bottom: 1rem;
}

.parentsandstaff {
  height: 40vh;
  width: 100%;
}

.techlogo {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  height: 13vh;
}

.title1 {
  font-size: 2.4rem;
  margin-left: 1.1rem;
  margin-top: 1.65rem;
  font-family: 'Karma', serif;
}

.title2 {
  font-size: 1.45rem;
  margin-left: 1rem;
  margin-top: -2.2rem;
  font-family: 'Karma', serif;
}

.mySlides {
  margin-left: 0.8rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  height: 13rem;
  width: 90%;
  border: 5px solid white;
}

/* .Quick_Links{
    display: flex;
    margin-top: 0.5rem;
    margin-left: 1rem;
    flex-direction: row;
    align-items: center;
}

.quicklinks{
    height: 2.5rem;
    width: 10rem;
    background-color: #fcbf1e;
    font-size: 1.5rem;
    margin-left: .5rem;
    margin-bottom: 0.5rem;
    list-style: none;
    text-decoration: none;
} */
.Quick_Links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fcbf1e;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quicklinks {
  height: 2.25rem;
  width: auto;
  font-size: 1.5rem;
  margin-left: .5rem;
  list-style: none;
}

.quicklinks a {
  text-decoration: none;
  color: black;
}

.cb2 {
  height: 150vh;
  width: 100%;
}

.c-block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 102vh;
  width: 100%;
  margin-bottom: 1rem;
}

#cb2-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cal-style {
  margin-left: 0.2rem;
  margin-bottom: 0.2rem;
  width: 98%;
  height: 600;
  border: 0;
  scroll-behavior: no;
}

.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

.eachSlide {
  display: none;
  padding: 80px;
  text-align: center;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -3px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.calender-box {
  width: 100%;
  height: 3.5rem;
  background-color: #C5B358;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

#calender-header {
  font-family: 'Karma', serif;
  font-size: 3rem;
  margin-left: 5rem;
  margin-top: -1rem;
  color: white;
}

.calender {
  margin-bottom: 1rem;
}

.schoolrankings {
  height: 96vh;
  width: 100%;
  background-color: #C5B358;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.studentpopulation {
  position: absolute;
  color: white;
  top: 98.5rem;
  left: 2rem;
  z-index: 2;
  font-size: 3rem;
  font-family: 'Karma', serif;
}

.students {
  position: relative;
  z-index: 1;
  height: 15rem;
  margin: 1rem 0.2rem;
  border: 3px solid white;
}

.facultynumber {
  position: absolute;
  color: white;
  top: 114.5rem;
  z-index: 4;
  font-size: 3rem;
  margin-left: 2.75rem;
  font-family: 'Karma', serif;
}

.teachers {
  position: relative;
  z-index: 3;
  height: 15rem;
  width: 96.5%;
  border: 3px solid white;
  margin-left: 0.2rem;
  margin-top: -0.75rem;
}

.nationalranking {
  position: absolute;
  z-index: 6;
  top: 131.5rem;
  font-size: 1.9rem;
  color: white;
  margin-left: 1rem;
  font-family: 'Karma', serif;
}

.awards {
  position: relative;
  height: 15rem;
  width: 96.5%;
  z-index: 5;
  border: 3px solid white;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
}

.media {
  height: 35vh;
  width: 100%;
  background-color: black;
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.schooltitle2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1rem;
  margin-top: 2rem;
}

.schoollogopic {
  height: 15vh;
}

.tp1 {
  color: white;
  font-family: 'Karma', serif;
  font-size: 2.25rem;
  margin-left: 0.5rem;
  margin-top: 0.8rem;
}

.tp2 {
  color: white;
  font-family: 'Karma', serif;
  font-size: 1.25rem;
  margin-left: 1rem;
  margin-top: -0.95rem;
}

.schoolinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address, .phone, .fax {
  font-family: 'Karma', serif;
  font-size: 1rem;
  margin-bottom: -1.2rem;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.links {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: #fff;
}

header {
  position: relative;
  max-width: 1700px;
  margin: 20px auto;
  padding: 10px;
  background: #676967;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
  color: #f1ff34;
  height: 60px;
  font-size: 25px;
  line-height: 60px;
  padding: 0 20px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  font-weight: 700;
  text-decoration: none;
}

nav {
  float: right;
  font-size: 20px;
}

.clearfix {
  clear: both;
}

nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #ddbd6b;
}

nav ul li a.active,
nav ul li a:hover {
  background: goldenrod;
  color: #131212;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1700px) {
  header {
    margin: 20px;
  }
  .submenu {
    display: none;
  }
}

@media (max-width: 770px) {
  .menu-toggle {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: black;
  }
  .menu-toggle::before {
    content: '\f0c9';
    font-family: fontAwesome;
    line-height: 40px;
  }
  .menu-toggle.active::before {
    content: '\f00d';
  }
  nav {
    display: none;
  }
  nav.active {
    display: block;
    width: 100%;
  }
  nav.active ul {
    display: block;
  }
  nav.active ul li a {
    margin: 0;
  }
  .submenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 70px;
    font-size: 13.5px;
  }
  .extra {
    margin-right: 146px;
  }
  .studentss {
    margin-right: 120px;
  }
}

/* .menu-toggle ul li a:hover .submenu{
    display: block;
    position: absolute;
    background: goldenrod;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-toggle ul li:hover .submenu ul{
    display: block;
    margin: 10px;
}

.menu-toggle ul li:hover .submenu ul li{
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: left;
} */
/* display: flex;
    justify-content: flex-end;
    margin-right: 15px; */
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: black;
  background-attachment: fixed;
}
/*# sourceMappingURL=style.css.map */